.navbar {
  /* display: flex;
  justify-content: space-between; */
  padding: 5px;
  margin-bottom: 20px;
  margin-top: 0;
  border-bottom: 1px solid #eee;
}

.navbar ul li {
  list-style: none;
}

.navbar-list {
  display: flex;
  justify-content: space-between;
  padding-left: 0;
  align-items: center;
  margin: 10px 20px;
}

.search-field {
  width: 35vw;
  background-color: #f3f9fb;
  border: none;
  border-radius: 10px;
  height: 50px;
  padding-left: 20px;
  font-size: 16px;
}

.search-field:focus {
  outline: none;
}

.search-field::placeholder {
  color: #666666;
  /* padding-left: 20px; */
  font-size: 16px;
}

.navbar-header {
  color: #008ecc;
  font-size: 24px;
}
.signin-signup {
  display: flex;
  align-items: center;
  color: #222222;
}

.search-wrapper {
  position: relative;
  display: inline-block;
}

.search-icon {
  position: absolute;
  left: 8px;
  top: 30%;
  color: #008ecc;
}

.search-wrapper .search-field {
  padding-left: 30px;
}

.cart-wrapper {
  display: flex;
  align-items: center;
}

.cart-title {
  color: #222222;
}

.icon {
  color: #008ecc;
  margin-right: 10px;
  font-size: 20px;
}
